<section class="main">
    <article>
        <h1>About us</h1>
        <h3>Students & Alumni of Brandeis University</h3>
        <p>The Students & Alumni Program seek to provide a path for current students to connect with alumni</p>
    </article>
</section>