<section class="main">
    <article>
        <h1>We Are Proud</h1>
        <h3>Students & Alumni of Brandeis University</h3>
        <p>The Brandeis Students and Alumni Association is a vibrant community that offers lifelong opportuntiies for students and alumni to stay connected to Brandeis and eachother</p>
    </article>
    <article class="vid-container">
        <iframe src="https://www.youtube.com/embed/raU4TRMn3hs?si=gXjhQDuovXo-A4pq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </article>
</section>
